<!DOCTYPE html>
<html>
<head>
    <title>FlashCoutier</title>
    <link rel="icon" href="./public/img/favicon.ico">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">-->
    <link rel='stylesheet' href='/stylesheets/materialize.min.css'>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/animate.css'>


    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->



    <script src="js/vendor/es6-shim/es6-shim.min.js"></script>

    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>



</head>
<body>

<div class="navbar-fixed wow fadeInDown">
    <nav class="grey lighten-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="responsive-img z-depth-4" src="img/logo-quadrado.png" alt=""></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="hoverable"><a href="/#1">Principal</a></li>
                <li class="hoverable"><a href="/#2">Dashboard 1</a></li>
                <li class="hoverable"><a href="/#3">Dashboard 2</a></li>
                <li class="hoverable"><a href="/#4">Dashboard 3</a></li>
                <li class="hoverable"><a href="/#5">Alguma sugestão?</a></li>
                <li class="hoverable"><a href="/#6">Comentários</a></li>
            </ul>
        </div>
    </nav>
</div>

<my-app>Loading...</my-app>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!--<scrip src="js/jquery.min.js"></scrip>-->
<!--<scrip src="js/wow.js"></scrip>-->






<script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('.collapsible').collapsible();

        new WOW().init();
    });

</script>

<script>
    System.import('app').catch(function(err){ console.error(err);  });
</script>
</body>
</html>
